nav {
    display: flex;
    align-items: baseline;
    font-weight: bolder;
}
.navbar{
    display: flex;
    align-items: baseline;
}
.menu{
    display: flex;
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.search-options > select, button{
    margin-right: 40px;
}
br {
    color: black;
}