{% extends 'index.html' %}
{% block content %}
<h1>Properties for SALE</h1>
{% for property in properties %}
  <table id="properties">
    <tr>
        <td>
            <ul class="properties-ul">
                <li>
                  <div class="text-center">
                    <img id="property-image" src="data:image/jpeg;base64,{{ property.image }}" class="rounded" alt="house">
                  </div>
                </li>
                <div class='property-info'>
                  <li> {{property['type']}} for <b>{{property['offerType']}}</b></li>
                  <li><b>{{property['address']}}</b></li>
                </div>
                <div class='property-info'>
                  <div class='bed-bath-num'>
                    <li> {{property['bedroomNum']}}</li>
                    <img src="../static/bedroom-icon.png" alt="bedroom icon">
                    <li> {{property['bathroomNum']}}</li>
                    <img src="../static/bathroom-icon.png" alt="bedroom icon">
                  </div>
                  {% if property['offerType'] == 'rent'%}
                    <li> ${{property['price']}} / month </li>
                  {% else %}
                    <li> ${{property['price']}} </li>
                  {% endif %}
                </div>
                <div class='property-info'>
                  <li> Floor Area: {{property['squareFeet']}} square ft.</li>
                  {% if property['lotSize'] != 0 %}
                    <li> Lot size: {{property['lotSize']}} square ft.</li>
                  {% endif%}
                </div>
                <br>
                <br>
                <hr>
                
            </ul>
        </td>
    </tr>
  </table>
  {% endfor %}
{% endblock %} 