{% extends 'base.html' %}
{% block content %}
<h1>Edit Property {{property}}</h1>
<form method=post enctype=multipart/form-data>
    <p><b><label for="offerType">For Sale/Rent</label></b></p>
    <p>
        <input name='offerType' type='radio' value='sale'>
        <label for='sale'>For Sale</label>
    </p>
    <p>
        <input name='offerType' type='radio' value='rent'>
        <label for='rent'>For Rent</label>
    </p>



    <p><b><label for="type">Property type</label></b></p>
    <p>
        <input name='type' type='radio' value='condo'>
        <label for='condo'>Condo</label>
    </p>
    <p>
        <input name='type' type='radio' value='house'>
        <label for='house'>House</label>
    </p>
    <p>
        <input name='type' type='radio' value='lot'>
        <label for='lot'>Lot</label>
    </p>

    
    <p><b><label for="price">Price</label></b></p>
    <p><input name='price' type='number' value='034349'></p>

    <p><b><label for="address">Address</label></b></p>
    <p><input name='address' type='text'></p>

    <p><b><label for="bedroomNum">Number of Bedrooms</label></b></p>
    <p><input name='bedroomNum' type='number'></p>

    <p><b><label for="bathroomNum">Number of Bathrooms</label></b></p>
    <p><input name='bathroomNum' type='number'></p>

    <p><b><label for="squareFeet">Square Feet</label></b></p>
    <p><input name='squareFeet' type='number'></p>

    <p><b><label for="lotSize">Lot Size</label></b></p>
    <p><input name='lotSize' type='number'></p>

    <p><b><label for="img">Upload Property Image:</label></b></p>
    <p><input type=file name=file>

    <input type=submit value=Submit></input>

</form>

{% endblock %} 