{% extends 'base.html' %}
{% block content %}
<nav>
    <a>Logo</a>
  
    <div class='navbar'>
      <ul class='menu'>
        <li>
          <a class='nav-link' href='#'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>Buy</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='{{ url_for('sell_view.sell_property') }}'>Sell</a>
        </li>
      </ul>
      <form class='form-inline my-2 my-lg-0'>
        <input type='search' placeholder='Search' >
        <button type='submit'>Search</button>
      </form>
        <a class='nav-link' href='#'>Login</a>
    </div>
  </nav>

  <hr>

  <div class='search-options'>
    <label for='sale-rent'> Buy/Rent:</label>
    <select name="sale-rent" id="sale-rent">     
        <option value="rent">Buy</option>
        <option value="rent">Rent</option>
    </select>
    <button type='submit'>Filter</button>
  </div>

  <hr>

  <h1>Listings</h1>
  <table>
  {% for property in properties %}
    <tr>
        <td>
            <ul>
                
                <li> {{property['type']}} </li>
                <li> {{property['price']}} </li>
                <li> {{property['address']}} </li>
                <li> {{property['bedroomNum']}} </li>
                <li> {{property['bathroomNum']}} </li>
                <li> {{property['squareFeet']}} </li>
                <li> {{property['lotSize']}} </li>
            </ul>
        </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %} 